# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment
.env

# Logs
logs/

# Database
database/

# VSCode
.vscode/

# Build
dist/
build/

# Testing
.pytest_cache/

# macOS
.DS_Store

# Linux
*.swp
